body{

    background-image: url('pi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    font-size: x-large;
    font-family: sans-serif;
    
    
}
h1{
    text-align: center;
    color: black;
}
image{
    /* text-align: middle; */
    border-radius: 300px;
}
a{
    font-size: x-large;
    color: red ;
}
P{
    font-size: x-large;
    font-weight: bold;
    color: Black;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 50%;
    border: 0;
    
}
table#center
{
    margin-left: auto;
    margin-right: auto;
}
th, td {
    text-align: center;
    padding: 16px;
  }
  
  tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
.container{
    text-align: center;
   
}
#contain{
     
    text-align: center;
    border: 2px solid #93B5C6;
   border-radius: 15px;
   padding: 5px;
   width: 400px;
   justify-content:space-between ;
   background-color: black;
   color: white;
   opacity: 0.7;
    
}
#contain1{
    text-align: center;
    border: 2px solid #93B5C6;
    border-radius: 15px;
    
    padding: 5px;
    width: 500px;
    justify-content: space-between;
    background-color: black;
    color: white;
    opacity: 0.7;
}

.box{
    justify-content: space-evenly;
    display: flex;
}

.contain2{
    text-align: center;
    border: 2px solid #93B5C6;
    border-radius: 15px;
    padding: 5px;
    width: 400px;
    justify-content: space-between;
    background-color: black;
    color: white;
    opacity: 0.7;   
}

#con{
    text-align: center;
    margin: 50px;
    background-color: white;
    border: 1px solid rgb(9, 9, 9);
    opacity: 0.5;
   
}
ul.myUL {
    display: inline-block;
    text-align: left;
  }
*{
    font-family: sans-serif;
}
a:hover{
    color: gold;
    text-decoration: none;
}
span{
    color: rgb(252, 17, 0);
}
